<!DOCTYPE html>
<html>
<head>
    <meta = "utf-8">
    <title>Home</title>
</head>
<body>
    {{>header}}
    <p>{{screamIt welcomeMessage}}</p>
    <p>Some text here</p>
    {{>footer}}
</body>

</html> 